In [1]:
%load_ext blackcellmagic

In [2]:
import pandas as pd

In [13]:
# df = pd.read_csv("/disk2/fli/LevSeq_db/data/ep1/300-2.csv")
df = pd.read_csv("/disk2/fli/REVIVAL4Nap/data/KMS-102824_NapG8-1/achiral/KMS-102824_NapG8-1_DSLib_P1.csv")
df

,Sample Acq Order No,Sample Vial Number,Sample Name,Compound Name,RT [min],Area
0,1,D3F-A1,KMS-102824_NapG8-1_DSL_P1,Pdt1,1.189,243060.7844
1,2,D3F-A2,KMS-102824_NapG8-1_DSL_P1,Pdt1,1.181,346082.1385
2,3,D3F-A3,KMS-102824_NapG8-1_DSL_P1,Pdt1,1.191,2428.2171
3,4,D3F-A4,KMS-102824_NapG8-1_DSL_P1,Pdt1,1.191,9894.2661
4,5,D3F-A5,KMS-102824_NapG8-1_DSL_P1,Pdt1,1.190,659.3828
...,...,...,...,...,...,...
199,93,D3F-H9,KMS-102824_NapG8-1_DSL_P1,Pdt2,1.311,4627.7815
200,94,D3F-H10,KMS-102824_NapG8-1_DSL_P1,Pdt2,1.311,294.2521
201,95,D3F-H11,KMS-102824_NapG8-1_DSL_P1,Pdt2,1.312,1873.7809
202,96,D3F-H12,KMS-102824_NapG8-1_DSL_P1,Pdt2,1.309,2832.5132
203,97,D3F-A7,KMS-102824_NapG8-1_DSL_P1,Pdt2,1.309,94.5355

In [7]:
isinstance(df.index, pd.MultiIndex)

True

In [8]:
df.reset_index()

,level_0,level_1,level_2,level_3,Compound name (signal),cis (MS1 +TIC SIM ESI Frag=70V Gain=1.0)
0,Sample Acq Order No,Sample Vial Number,Sample Name,Compound Name,RT [min],Area
1,1,D3B-A1,D3B-A1,cis,NaN,NaN
2,2,D3B-A2,D3B-A2,cis,2.123,910031.0511
3,3,D3B-A3,D3B-A3,cis,2.126,221364.0013
4,4,D3B-A4,D3B-A4,cis,2.125,728704.8396
...,...,...,...,...,...,...
190,92,D3B-H8,D3B-H8,trans,NaN,NaN
191,93,D3B-H9,D3B-H9,trans,2.604,702398.0876
192,94,D3B-H10,D3B-H10,trans,2.602,649822.7302
193,95,D3B-H11,D3B-H11,trans,2.604,179821.6347
194,96,D3B-H12,D3B-H12,trans,2.605,598656.0435